scrapy
bs4 
langchain_experimental 
langchain_openai
gpt4all 
pymilvus
pymilvus[model]
rank_bm25
faiss-cpu
nltk
torch
TensorFlow >= 2.0
Flax 
numpy
transformers
elasticsearch
sentence_transformers
SentencePiece
nltk
streamlit 